@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-ag-white: #fff;
  --color-ag-black: #1e1e1e;
  --color-ag-magent: #AF018E;

  /* Font Families */
  --font-anton: "Anton", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@custom-variant notebook {
  @media (width < 1280px) {
      @slot;
  }
}

@custom-variant tablet {
  @media (width < 1024px) {
      @slot;
  }
}


@custom-variant mobile {
  @media (width < 768px) {
      @slot;
  }
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html, body  {
  scroll-behavior: smooth;
}

.white-glass {
  background: #ffffff;
  background: linear-gradient(120deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(1px);
}

.dark-glass {
  background: #1e1e1e;
  background: linear-gradient(120deg,rgba(30, 30, 30, 0.5) 0%, rgba(30, 30, 30, 0) 100%);
  backdrop-filter: blur(2px);
}

.darker-glass {
  background: #1e1e1e;
  background: linear-gradient(120deg,rgba(30, 30, 30, 0.8) 0%, rgba(30, 30, 30,0.10) 100%);
  backdrop-filter: blur(2px);
}

/* Para Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: var(--color-ag-magent) transparent;
}

/* Para Chrome/Safari */
.scrollbar-custom::-webkit-scrollbar {
  height: 16px; /* alto total (thumb + espacio visual) */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 30%,
    #e5e7eb 30%,
    #e5e7eb 70%,
    rgba(0,0,0,0) 70%
  );
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: var(--color-ag-magent);
  border-radius: 4px;
}


.prueba-color {
  background: rgba(236, 113, 72, 0.2)
}